body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
div {
	margin: 0;
	padding: 0;
}
.wrapper {
	height: 1080px;
	width: 1920px;
	margin: auto;
	background: #280744;
	overflow: hidden;
}
.background {
	height: 1080px;
	width: 1920px;
	background: url(images/bg.png);
	background-repeat: repeat-x;
	background-position: top center;
	background-size: contain;
}

.heading {
	position: absolute;
	top: 20%;
	height: auto;
	left: 40%;
	font-size: 30px;
	font-family: 'Keania One', cursive;
	color: lightgrey;
}

.rocks_1 {
	position: absolute;
	bottom: -5px;
	height: 315px;
	width: 1920px;
	background: url(images/rocks_1.png);
	background-repeat: repeat-x;
	background-position: top center;
	background-size: contain;
	animation: translateX 100s infinite linear both;
}

.rocks_2 {
	position: absolute;
	bottom: -60px;
	height: 315px;
	width: 1920px;
	background: url(images/rocks_2.png);
	background-repeat: repeat-x;
	background-position: top center;
	background-size: contain;
	animation: translateX 30s infinite linear both;
}
.rails {
	position: absolute;
	bottom: -110px;
	height: 315px;
	width: 1920px;
	background: url(images/rails.png);
	background-repeat: repeat-x;
	background-position: top center;
	background-size: contain;
	animation: translateX 5s infinite linear both;
}
.train {
	position: absolute;
	bottom: -105px;
	height: 315px;
	width: 1500px;
	right: 0px;
	background: url(images/train.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
}
.ground {
  position: absolute;
  width: 1920px;
  height: 98px;
  bottom: 0px;
  background: #16012f;
}
.lights {
	position: absolute;
	bottom: -39px;
	height: 315px;
	width: 1920px;
	background: url(images/lights.png);
	background-repeat: repeat-x;
	background-position: top center;
	background-size: contain;
	animation: translateX 4s infinite linear both;
}

.moon {
	position: absolute;
	top: 20%;
	height: 315px;
	left: 200px;
	width: 120px;
	background: url(images/moon.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
}

@keyframes translateX {
	0% {background-position: 0px 0px;}
	100% {background-position:  1920px 0px;}
}
