@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');

body{
    background: rgb(72, 137, 139);
    min-height: 1300px;
    font-family: 'Raleway'!important;
    font-size: 14px;
}

h1{
    color: #fff;
    text-align: center;
    margin-top: 8%;
}

.pop-up{
    width: 350px;
    height: 250px;
    background: #fff;
    border-radius: 10px;
    position: fixed;
    right: 3%;
    bottom: 5%;
    visibility: hidden;
}

.pop-up-header p{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}

.pop-up-header .fa{
   position: relative;
   top: -13px;
   left: 65px;
   cursor: pointer;
}

.pop-up-body{
    display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 2%;
}

.pop-up-body .content{
    padding: 0 5%;

    text-align: left;
    height: 130px;
    overflow: hidden;
}

.pop-up-body .content p{
    margin: 0 auto;
    display: none;
}

.pop-up-body .active{
    display: block!important;
}

.pop-up-body .fa{
    font-size: 40px;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    padding: 45px 10px;
}

.pop-up-footer{
    padding-left: 5%;
    margin-top: 5%;
}

.pop-up-footer label{
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    position: relative;
    top: -3px;
}

.pop-up-footer .indicators{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    margin: 0 auto;
    overflow: hidden;
}

.pop-up-footer .indicators .circle:nth-child(1n+2){
    margin-left: 2%;
}


.pop-up-footer .indicators .circle{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgb(206, 199, 199);
}

.pop-up-footer .indicators .active{
    background: rgb(116, 134, 185);
}

