@font-face {
	font-family: "Arial-Narrow";
	src: url('../fonts/arial-narrow.ttf') format("truetype");
}
@font-face {
	font-family: "Arial-Regular";
	src: url('../fonts/Arial-Regular.ttf') format("truetype");
}
@font-face {
	font-family: "TrendSansOne";
	src: url('../fonts/trendsansone-webfont.eot');
	src: url('../fonts/trendsansone-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/trendsansone-webfont.woff2') format("woff2"), url('../fonts/trendsansone-webfont.woff') format("woff"), url('../fonts/trendsansone-webfont.ttf') format("truetype"), url('../fonts/trendsansone-webfont.svg#trend_sansone') format("svg");
	font-weight: normal;
	font-style: normal;
}
.paragraph-text {
	line-height: 1.5;
	text-align: justify;
}
.active-tab.active-tab:before {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	left: 50%;
	bottom: -15px;
	margin-left: -15px;
	border-style: solid;
	border-color: #c6defa transparent transparent transparent;
	border-width: 12px 15px 0 15px;
}
.active-tab.active-tab:after {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	left: 50%;
	bottom: -10px;
	margin-left: -8px;
	border-style: solid;
	border-color: #6b9acf transparent transparent transparent;
	border-width: 7px 8.5px 0 8.5px;
}
html {
	min-height: 100%;
}
body {
	height: 100%;
	font-family: "Arial-Regular", sans-serif;
	font-size: 12px;
	background: #ffffff;
}
a {
	cursor: pointer;
}
.sprite {
	background-image: url('../images/spritesheet.png');
	background-repeat: no-repeat;
}
.fixed {
	position: fixed;
	width: 100%;
	z-index: 9;
	top: 0;
	left: 0;
}
header .logo {
	padding: 5px 0 5px 0;
	text-align: center;
}
header .logo a {
	display: block;
	margin: 0 auto;
}
header .logo img {
	width: 80%;
}
header .navbar {
	border-bottom: 4px solid #c6defa;
	background: #6b9acf;
	font-size: 0;
}
header .navbar ul {
	text-align: center;
}
header .navbar ul li {
	display: inline-flex;
}
footer {
	    margin: 0 0 50px;
}
footer img {
	display: block;
	margin: 0 auto;
}
header .navbar a {
	display: inline-grid;
	position: relative;
	width: 30px;
	height: 30px;
	line-height: 30px;
	padding: 0;
	margin: 2px 0 2px 3px;
	font-family: 'Arial-Narrow';
	font-size: 18px;
	font-weight: inherit;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: inherit;
	color: #ffffff;
	text-decoration: none;
	vertical-align: middle;
	background-color: #7ca7d9;
}
header .navbar a.about,header .navbar a.some {
	color: #608dc1;
}
header .navbar a:hover {
	background-color: #7CA7D9;
	text-decoration: none;
}
header .navbar a.active-tab:before {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	left: 50%;
	bottom: -10px;
	margin-left: -10px;
	border-style: solid;
	border-color: #6b9ad0 transparent transparent transparent;
	border-width: 8px 10px 0 10px;
}
header .navbar a.active-tab:after {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	left: 50%;
	bottom: -7px;
	margin-left: -7px;
	border-style: solid;
	border-color: #7ca7d9 transparent transparent transparent;
	border-width: 7px 7px 0 7px;
}
header .navbar a.tags {
	background: #7ca7d9 url('../images/tag.png') no-repeat 5px;
}
header .navbar a.link-nav {
	margin-right: 3px;
	background: url('../images/thumbnail.png') no-repeat 5px;
}
header .navbar a.link-nav.active-tab:before {
	display: none;
}
header .navbar a.link-nav.active-tab:after {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	left: 50%;
	bottom: -10px;
	margin-left: -10px;
	border-style: solid;
	border-color: #6b9ad0 transparent transparent transparent;
	border-width: 8px 10px 0 10px;
}
.content-wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 auto;
}
.posts {
	margin-top: 18px;
	-webkit-order: 2;
	-ms-flex-order: 2;
	order: 2;
	padding: 0 16px;
}
.post {
	position: relative;
	margin: 0 0 60px;
}
.post .post-image img {
	width: 100%;
}
.post .post-title {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 10px 40px;
	background-color: #f4f5f6;
}
.post .post-title a {
	display: inline-flex;
	line-height: 1.2;
	word-wrap: break-word;
	font-family: 'Arial-Narrow';
	font-size: 20px;
	font-weight: 600;
	text-transform: inherit;
	text-align: center;
	letter-spacing: 1px;
	color: #69747c;
	text-decoration: none;
}
.post .post-title a:hover {
	text-decoration: underline;
}
.post .description {
	padding: 12px 0;
}
.post .description p {
	line-height: 1.5;
	text-align: justify;
}
.post-info {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 38px;
	border-bottom: 1px solid #E2E5E8;
}
.post-info .wrap-date-author {
	width: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.post-info .post-date,.post-info .post-author {
	display: inline-flex;
	padding-left: 23px;
}
.post-info .post-date {
	background-position: 5px -145px;
}
.post-info .post-author {
	background-position: 3px 0px;
	margin-right: 20px;
}
.post-info .post-author:hover .author-name {
	text-decoration: underline;
}
.post-social {
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 100%;
}
.post-social ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.post-social ul li {
	height: 24px;
	margin-left: 6px;
	border-radius: 5px;
	background-color: #d1dae3;
}
.post-social ul li:first-child {
	margin-left: 0px;
}
.post-social ul li a {
	display: inline-grid;
	box-sizing: border-box;
	line-height: 24px;
	padding: 0 6px 0 0;
	border-radius: 5px;
	font-family: inherit;
	font-size: inherit;
	font-weight: 800;
	text-transform: inherit;
	text-align: right;
	letter-spacing: inherit;
	color: #ffffff;
	text-decoration: none;
}
.post-social ul li a:hover {
	background-color: #d1dae3;
}
.post-social ul li .facebook {
	width: 49px;
	background-position: 10px -63px;
	background-color: #3C5A98;
}
.post-social ul li .facebook span {
	margin-left: 19px;
}
.post-social ul li .google-plus {
	width: 41px;
	background-position: 0 -103px;
	background-color: #C25234;
}
.post-social ul li .twitter {
	width: 49px;
	background-position: 3px -172px;
	background-color: #00ACED;
}
.post-social ul li .vk {
	width: 49px;
	background-position: 7px -207px;
	background-color: #48729E;
}
.post-social ul li .yandexBlog {
	width: 41px;
	background-position: 9px -242px;
	background-color: #D83933;
}
.sidebar {
	display: none;
	-webkit-order: 1;
	-ms-flex-order: 1;
	order: 1;
	margin: 0;
	background-color: #e1eefc;
}
.sidebar section {
	position: relative;
	margin: 0;
	padding: 20px 16px 30px;
}
.sidebar section .title {
	bottom: 5px;
	right: 8px;
	position: absolute;
	display: inline-flex;
}
.sidebar section .title h2 {
	padding: 5px 25px 0 0;
	font-family: 'TrendSansOne';
	font-size: 17px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: inherit;
	letter-spacing: inherit;
	color: #6290b4;
	text-decoration: none;
}
.sidebar p {
	line-height: 1.5;
	text-align: justify;
}
.sidebar .tags {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 20px 16px;
}
.sidebar .tags a {
	margin: 0px 16px 5px 0;
}
.tags a {
	display: inline-flex;
	position: relative;
	margin: 0 10px 5px 0;
	padding: 4px 20px 3px 13px;
	background-color: #6794b7;
	color: #ffffff;
	text-decoration: none;
}
.tags a:hover {
	background-color: #b2d4ec;
}
.tags a:hover:after {
	border-color: transparent transparent transparent #b2d4ec;
}
.tags a:before {
	content: '';
	width: 7px;
	height: 7px;
	position: absolute;
	top: 5px;
	right: 0;
	border-radius: 7px;
	background-color: #ffffff;
}
.tags a:after {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	top: 0px;
	right: -9px;
	border-style: solid;
	border-width: 9px 0 10px 9px;
	border-color: transparent transparent transparent #6794b7;
}
@media only screen and (min-width: 150px) and (max-width: 767px) {
	header .navbar {
		border-bottom: none;
	}
	header .navbar.fixed {
		background: #6b9acf url('../images/logo-navbar-mobile.png') no-repeat 50%;
	}
	header .navbar .nav {
		display: none;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		background-color: #e1eefc;
	}
	header .navbar .nav li {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		border-top: 1px solid #ffffff;
	}
	header .navbar .nav li:first-child {
		border-top: none;
	}
	header .navbar .nav li a {
		display: block;
		position: static;
		width: auto;
		height: 40px;
		line-height: 40px;
		margin-left: 0;
		background-color: initial;
		color: #6b9ad0;
	}
	header .navbar a.link-tabs:before {
		display: inline-flex;
	}
	header .navbar a.link-nav {
		position: absolute;
    left: 90%;
		background-color: initial;
	}
	.sidebar {
	}
	.sidebar .title {
		cursor: pointer;
	}
	.sidebar .title h2 {
		position: relative;
	}
	.sidebar .title h2:after {
		content: '';
		width: 16px;
		height: 17px;
		position: absolute;
		top: 0;
		right: 2px;
		background-image: url('../images/fold.png');
		background-repeat: no-repeat;
	}
	.sidebar p {
		color: #6689a5;
	}
	.sidebar .tags {
		position: relative;
	}
	.sidebar .tags .fold-icon {
		cursor: pointer;
		content: '';
		width: 16px;
		height: 17px;
		position: absolute;
		top: initial;
		right: 15px;
		background-image: url('../images/fold.png');
		background-repeat: no-repeat;
		bottom: 10px;
	}
	.sidebar .tags a {
		margin-bottom: 10px;
		opacity: 0.6;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	header .logo {
		padding: 10px 0 10px 0;
	}
	header .logo img {
		width: 60%;
	}
	header .navbar {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	header .navbar.fixed {
		background: #6b9acf;
	}
	header .navbar a {
		height: auto;
		width: 43px;
		line-height: initial;
		margin: 3px 0;
		padding: 13px 0;
		text-decoration: none;
		font-size: 18px;
	}
	header .navbar a.about,header .navbar a.some {
		padding: 12px 0;
		font-size: 20px;
	}
	header .navbar a.some {
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
	}
	header .navbar a.tags,header .navbar a.link-nav {
		display: none;
	}
	header .navbar .nav {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		width: 75%;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	header .navbar .nav a {
		padding: 13px 20px 13px;
		background-color: initial;
		width: auto;
	}
	header .navbar .nav a.active-tab:before {
		content: '';
		width: 0;
		height: 0;
		position: absolute;
		left: 50%;
		bottom: -15px;
		margin-left: -15px;
		border-style: solid;
		border-color: #c6defa transparent transparent transparent;
		border-width: 12px 15px 0 15px;
	}
	header .navbar .nav a.active-tab:after {
		content: '';
		width: 0;
		height: 0;
		position: absolute;
		left: 50%;
		bottom: -10px;
		margin-left: -8px;
		border-style: solid;
		border-color: #6b9acf transparent transparent transparent;
		border-width: 7px 8.5px 0 8.5px;
	}
	header .navbar .nav a:hover {
		background-color: #7CA7D9;
	}
	.posts {
		margin-top: 0;
		padding: 0;
	}
	.post {
		padding: 0 60px;
		box-sizing: border-box;
		margin-bottom: 55px;
	}
	.post .post-title {
		-webkit-justify-content: start;
		-ms-flex-pack: start;
		justify-content: start;
		padding: 10px 0;
		background-color: inherit;
		border-bottom: 1px solid #E2E5E8;
	}
	.post-info {
		border-bottom: 1px solid #E2E5E8;
	}
	.post-info .wrap-date-author {
		-webkit-justify-content: start;
		-ms-flex-pack: start;
		justify-content: start;
	}
	.post-info .post-date,.post-info .post-author {
		display: inline-flex;
		padding-left: 23px;
	}
	.post-info .post-date {
		margin: 0 18px 0 5px;
	}
	.post-social {
		position: absolute;
		right: 0;
		top: 0;
		bottom: initial;
		left: initial;
		width: auto;
	}
	.post-social ul {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-align-items: flex-end;
		-ms-flex-align: end;
		align-items: flex-end;
	}
	.post-social ul li {
		margin-bottom: 5px;
	}
	.post-social ul li:last-child {
		margin-bottom: 0px;
	}
	.sidebar {
		display: block;
		padding: 0;
		background-color: #ffffff;
	}
	.sidebar section {
		display: none;
		margin: 0;
		padding: 0;
	}
	.sidebar section .title {
		right: inherit;
		bottom: inherit;
		cursor: pointer;
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
		background-color: #eef4fa;
	}
	.sidebar section .title h2 {
		padding: 13px 30px 13px 20px;
		color: #6290b4;
	}
	.sidebar section .title:before {
		content: '';
		width: 0;
		height: 0;
		right: 0;
		position: absolute;
		top: 50%;
		margin-top: -9px;
		border-style: solid;
		border-width: 9px 9px 9px 0;
		border-color: transparent #c6defa transparent transparent;
	}
	.sidebar section .title:after {
		content: '';
		width: 0;
		height: 0;
		right: 0;
		position: absolute;
		top: 50%;
		margin-top: -4px;
		border-style: solid;
		border-width: 4px 4px 4px 0;
		border-color: transparent #6b9ad0 transparent transparent;
	}
	.sidebar section.about .title {
		left: -38px;
		top: 38px;
	}
	.sidebar section.some .title {
		right: -58px;
		top: 58px;
	}
	.sidebar section p {
		padding: 20px 60px 0;
	}
	.sidebar .tags {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding: 30px 60px;
	}
	.sidebar .tags a {
		margin: 0px 16px 5px 0;
	}
}
@media screen and (min-width: 1024px) {
	header {
		margin: 0 0 50px;
	}
	header .logo {
		padding: 10px 0 15px 0;
	}
	header .logo img {
		width: initial;
	}
	header .navbar {
		display: block;
	}
	header .navbar > a {
		display: none;
	}
	header .navbar.fixed .nav {
		background: url('../images/logo-navbar-desktop.png') no-repeat 20px;
	}
	header .navbar .nav {
		width: 980px;
		margin: 0 auto;
	}
	header .navbar .nav a {
		padding: 10px 20px 10px;
		background-color: initial;
		width: auto;
		margin: 3px 0;
	}
	header .navbar .nav a:hover {
		background-color: #7CA7D9;
	}
	header .navbar .nav a.active-tab:before {
		content: '';
		width: 0;
		height: 0;
		position: absolute;
		left: 50%;
		bottom: -15px;
		margin-left: -15px;
		border-style: solid;
		border-color: #c6defa transparent transparent transparent;
		border-width: 12px 15px 0 15px;
	}
	header .navbar .nav a.active-tab:after {
		content: '';
		width: 0;
		height: 0;
		position: absolute;
		left: 50%;
		bottom: -10px;
		margin-left: -8px;
		border-style: solid;
		border-color: #6b9acf transparent transparent transparent;
		border-width: 7px 8.5px 0 8.5px;
	}
	.posts {
		width: 640px;
		margin: 0 28px 0 0;
		padding: 0;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
	}
	.post {
		margin: 0 0 39px;
	}
	.post .post-image {
		height: 230px;
	}
	.post .post-image img {
		height: 100%;
	}
	.post .post-title {
		-webkit-justify-content: left;
		-ms-flex-pack: left;
		justify-content: left;
		padding: 10px 0;
		background-color: initial;
		border-bottom: 1px solid #E2E5E8;
	}
	.post .post-info {
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.post-social {
		position: initial;
	}
	.post-social ul {
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
	.post-social ul a.facebook {
		background-color: #d1dae3;
	}
	.post-social ul a.facebook:hover {
		background-color: #3C5A98;
	}
	.post-social ul a.google-plus {
		background-color: #d1dae3;
	}
	.post-social ul a.google-plus:hover {
		background-color: #C25234;
	}
	.post-social ul a.twitter {
		background-color: #d1dae3;
	}
	.post-social ul a.twitter:hover {
		background-color: #00ACED;
	}
	.post-social ul a.vk {
		background-color: #d1dae3;
	}
	.post-social ul a.vk:hover {
		background-color: #48729E;
	}
	.post-social ul a.yandexBlog {
		background-color: #d1dae3;
	}
	.post-social ul a.yandexBlog:hover {
		background-color: #D83933;
	}
	.sidebar {
		display: block;
		-webkit-order: 2;
		-ms-flex-order: 2;
		order: 2;
		width: 254px;
		background-color: inherit;
	}
	.sidebar section {
		margin: 0 0 32px;
		padding: 0;
	}
	.sidebar section .title {
		display: block;
		position: relative;
		right: 0;
		bottom: 0;
		margin: 0 0 15px;
		padding: 0 0 0 41px;
		border-bottom: 5px solid #6794b7;
	}
	.sidebar section .title:before {
		display: inline-grid;
		position: absolute;
		top: 1px;
		left: 0;
		width: 30px;
		height: 23px;
		line-height: 23px;
		background: #6794b7;
		font-family: "Arial-Narrow";
		font-size: 18px;
		font-weight: bold;
		text-transform: inherit;
		text-align: center;
		letter-spacing: inherit;
		color: #ffffff;
		text-decoration: none;
	}
	.sidebar section .title h2 {
		padding: 5px 0 1px;
		font-family: 'TrendSansOne';
		font-size: 17px;
		font-weight: bold;
		text-transform: uppercase;
		text-align: inherit;
		letter-spacing: inherit;
		color: #6290b4;
		text-decoration: none;
	}
	.sidebar section.about .title:before {
		content: '?';
	}
	.sidebar section.some .title:before {
		content: '!';
	}
	.sidebar section p {
		line-height: 1.5;
		text-align: justify;
	}
	.sidebar .tags {
		display: inherit;
		padding: 0;
	}
	.sidebar .tags a {
		display: inline-flex;
		position: relative;
		margin: 0 10px 5px 0;
		padding: 4px 20px 3px 13px;
		background-color: #6794b7;
		color: #ffffff;
		text-decoration: none;
	}
	.sidebar .tags a:hover {
		background-color: #b2d4ec;
	}
	.sidebar .tags a:hover:after {
		border-color: transparent transparent transparent #b2d4ec;
	}
	.sidebar .tags a:before {
		content: '';
		width: 7px;
		height: 7px;
		position: absolute;
		top: 5px;
		right: 0;
		border-radius: 7px;
		background-color: #ffffff;
	}
	.sidebar .tags a:after {
		content: '';
		width: 0;
		height: 0;
		position: absolute;
		top: 0px;
		right: -9px;
		border-style: solid;
		border-width: 9px 0 10px 9px;
		border-color: transparent transparent transparent #6794b7;
	}
	.sidebar .tags a:nth-child(3n) {
		margin-right: 0;
	}
}
